/* body css */

body {
  color: #fff;
  background-color: #21513b;
  /* color: #fff; */
}

#body {
  display: none;
}
.scroller {
  position: relative;
  height: 300px;
  width: 21rem;
  height: 25rem;
  padding: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
  border: #ccc solid thin;
}

.scroller::-webkit-scrollbar {
  display: none;
}

#loader {
  height: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
